<% if logged_in? %>
  
    <div class="row">
      <%= render 'posts/posts', posts: @posts %>
    </div>

<% else %>

<div class="container">
<div id="animateField" class="center jumbotron">
  <div class="text-center">
    <h1>出来事共有アプリ</h1>
    <p>身の回りにあった楽しい出来事を、共有してみませんか？</p>
  </div>
</div>  
</div>

<%= link_to 'ユーザー登録', signup_path, class: 'btn-signin' %>
<% end %>