<% if logged_in? %>
  
    <div class="row">
      <%= render 'posts/posts', posts: @posts %>
    </div>

<% else %>

<div id="animatebox" class="container">
  <div id="animateField" class="center jumbotron">
    <div class="text-center">
      <h1>画像共有サイト</h1>
      <p>身の回りにある楽しい画像を、共有してみませんか？</p>
    </div>
  </div>  
</div>

<%= link_to 'ユーザー登録', signup_path, class: 'btn-signin' %>
<% end %>